@import "../../Style/variable.scss";
@import "../../Style/mixin.scss";
nav {
  padding: 20px 100px;
  background-color: $black;
  position: fixed;
  width: 100%;
  z-index: 10;
  .bars{
    cursor: pointer;
    ul{
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blue;
      width: 0;
      height: 100vh;
      text-align: center;
      padding-top: 50px;
      transition: all .5s;
      overflow: hidden;
      li{
        padding: 20px 0;
        font-size: 20px;
        font-weight: 700;
        a{
          color:$white;
        }
      }
    }
  }
  .bars:hover{ 
  ul{
    width: 300px;
    
  }
 
   
    
  }
  .list {
    li {
      padding-right: 30px;
      a {
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
        display: block;
        color: $white;
      }
      &:hover {
        a {
          color: $blue;
        }
      }
    }
  }
  .icons {
    a {
      color: white;
    }
    li:hover {
      a {
        color: $blue;
      }
    }
  }
  .login-part {
    margin-left: 20px;
    border-left: 1px solid $gray;
    justify-content: end;
    i {
      color: white;
    }
    .login {
      color:$black;
      background-color: $white;
      padding: 8px 25px;
      font-weight: 700;
      border-radius: 4px;
      margin-left: 20px;
    }
  }
  @media screen and (max-width:768px){
    padding: 20px 20px;
  }
}
