@import "../../Style/variable.scss";
@import "../../Style/mixin.scss";
.network {
  padding: 100px 0;
  background-color: $lightgray;
  .text {
    .subtitle {
      color: $blue;
      font-weight: 600;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 30px;
    }
    p {
      color: $gray;
      margin-bottom: 30px;
      width: 90%;
    }
    a.read {
      @include mainbtn;
      background-color: $lightgray;
      border: 1px solid $gray;
    }
  }
  .right-part {
    padding-left: 30px;
    .activ {
      padding-left: 100px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 0;
      padding-top: 50px;
      .activ {
        padding-left: 0;
      }
    }

    .item {
      cursor: pointer;
      &:hover {
        .icon {
          background-color: $blue;

          i {
            color: $white;
          }
        }
        h3 {
          color: $blue;
        }
      }
      .icon {
        width: 120px;
        height: 120px;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        i {
          font-size: 40px;
          color: $gray;
          transition: all 0.5s;
        }
      }
    }
    .text {
      padding-left: 20px;
      h3 {
        font-size: 25px;
        padding-bottom: 15px;
        transition: all 0.5s;
      }
    }
  }
}
